@import '_variables.scss';

@mixin mobile-min {
    @media only screen and (max-width: #{$mobile-min}) {
        @content;
    }
}

@mixin mobile-max {
    @media only screen and (max-width: #{$mobile-max}) {
        @content;
    }
}

@mixin tablet-min {
    @media only screen and (max-width: #{$tablet-min}) {
        @content;
    }
}

@mixin tablet-max {
    @media only screen and (max-width: #{$tablet-max}) {
        @content;
    }
}

@mixin desktop-min {
    @media only screen and (max-width: #{$desktop-min}) {
        @content;
    }
}

@mixin desktop-mid {
    @media only screen and (max-width: #{$desktop-mid}) {
        @content;
    }
}

@mixin desktop-max {
    @media only screen and (max-width: #{$desktop-max}) {
        @content;
    }
}

/* title */
@mixin main-title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: bold;
    @include desktop-min {
        font-size: 40px;
    }
    @include tablet-min {
        font-size: 32px;
    }
    @include mobile-max {
        font-size: 24px;
        word-break: keep-all;
    }
}
@mixin title-subtext {
    font-size: 24px;
    font-weight: normal;
    @include desktop-min {
        font-size: 20px;
    }
    @include tablet-min {
        font-size: 16px;
    }
    @include mobile-max {
        font-size: 15px;
        word-break: keep-all;
    }
}
@mixin title-category {
    font-size: 18px;
    font-weight: bold;
    color: $color-belkin;
    @include mobile-max {
        font-size: 14px;
    }
}
@mixin title-page {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    @include desktop-min {
        font-size: 28px;
    }
    @include tablet-min {
        font-size: 24px;
    }
    @include mobile-max {
        font-size: 20px;
        word-break: keep-all;
    }
}
@mixin title-layer {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
        width: 32px;
        padding: 0;
        img {
            max-width: 100%;
        }
    }
    @include desktop-min {
        font-size: 26px;
    }
    @include tablet-min {
        font-size: 20px;
    }
    @include mobile-max {
        font-size: 18px;
    }
}
@mixin text-contents {
    font-size: 20px;
    line-height: 1.6;
    @include tablet-max {
        font-size: 16px;
    }
    @include mobile-max {
        font-size: 14px;
    }
}
@mixin text-paragraph {
    display: block;
    font-size: inherit;
    & + .text-paragraph {
        margin-top: 24px;
    }
}
@mixin title-contents {
    font-size: 24px;
    margin-bottom: 24px;
    color: $color-belkin;
    @include desktop-min {
        font-size: 20px;
    }
    @include tablet-min {
        font-size: 16px;
        margin-bottom: 16px;
    }
}
@mixin title-with-line {
    position: relative;
    margin-bottom: 20px;
    .txt {
        display: inline-block;
        background: #fff;
        font-size: 20px;
        font-weight: bold;
        position: relative;
        z-index: 1;
        padding-right: 40px;
        @include tablet-max {
            font-size: 18px;
        }
        @include tablet-min {
            font-size: 16px;
            padding-right: 20px;
        }
    }
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: $color-belkin;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -1px;
    }
}
@mixin list-bullet {
    li {
        @include text-contents();
        position: relative;
        padding-left: 22px;
        line-height: 1.8;
        @include tablet-max {
            padding-left: 16px;
        }
        @include mobile-max {
            padding-left: 10px;
            br {
                display: none;
            }
        }
        & + li {
            margin-top: 8px;
        }
        &::before {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background: $color-belkin;
            position: absolute;
            left: 0;
            top: 16px;
            @include tablet-max {
                top: 13px;
                width: 4px;
                height: 4px;
            }
            @include mobile-max {
                top: 10px;
            }
        }
    }
}
@mixin number-bullet {
    li {
        @include text-contents();
        position: relative;
        padding-left: 22px;
        line-height: 1.8;
        & + li {
            margin-top: 4px;
        }
        &::before {
            display: none;
        }
        .number {
            position: absolute;
            left: 0;
        }
    }
}
@mixin check-bullet {
    li {
        @include text-contents();
        position: relative;
        padding-left: 32px;
        line-height: 1.8;
        & + li {
            margin-top: 4px;
        }
        &::before {
            width: 24px;
            height: 24px;
            background: url(../images/icon_checkbox_sm.png) no-repeat center center;
            background-size: 100%;
            top: 7px;
        }
    }
}
@mixin a11y-text {
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    font-size: 0;
    opacity: 0;
    width: 0;
    height: 0;
}

/* button */
@mixin button-round {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font-size: 18px;
    min-width: 225px;
    height: 62px;
    padding: 0 48px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        opacity: 0.5;
    }
    @include tablet-min {
        font-size: 16px;
    }
    @include mobile-max {
        min-width: auto;
        padding: 0 30px;
        height: 50px;
        font-size: 14px;
    }
}
@mixin button-belkin {
    font-weight: bold;
    background: $color-belkin;
    border: 2px solid $color-belkin;
    color: #fff;
}
@mixin button-black {
    font-weight: bold;
    background: #000;
    border: 2px solid #000;
    color: #fff;
}
@mixin button-white {
    font-weight: bold;
    background: #fff;
    color: $color-belkin;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    &:hover {
        background: $color-belkin;
        color: #fff;
        opacity: 1;
    }
}
@mixin button-belkin-outline {
    font-weight: bold;
    border: 2px solid $color-belkin;
    color: $color-belkin;
    &:hover {
        background: #fff;
    }
}
@mixin button-black-outline {
    font-weight: bold;
    border: 2px solid #000;
    color: #000;
    &:hover {
        background: #fff;
    }
}
@mixin button-white-outline {
    font-weight: bold;
    border: 2px solid #fff;
    color: #fff;
    opacity: 0.8;
}

/* form elements */
@mixin search-label {
    font-size: 16px;
    display: block;
    @include tablet-min {
        font-size: 15px;
    }
    @include mobile-max {
        font-size: 14px;
    }
}
@mixin input {
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    background: #fff;
    height: 60px;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    @include tablet-min {
        font-size: 15px;
    }
    @include mobile-max {
        font-size: 13px;
        height: 48px;
    }
    &::-moz-placeholder,
    &::-ms-input-placeholder,
    &::-webkit-input-placeholder,
    &::placeholder {
        color: #cacaca;
        @include tablet-min {
            font-size: 15px;
        }
        @include mobile-max {
            font-size: 13px;
        }
    }
    &:focus {
        outline: 0;
        border-color: $color-belkin;
    }
}
@mixin input-checkbox {
    * {
        box-sizing: border-box;
    }
    .cbx {
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        padding: 6px 8px 6px 0;
        border-radius: 6px;
        overflow: hidden;
        transition: all 0.2s ease;
        display: inline-block;
        @include mobile-max {
            width: 100%;
            display: inline-block;
        }
        &.text {
            margin-right: 6px;
        }
        &:hover {
            background: rgba(0, 255, 42, 0.06);
            span {
                &.icon {
                    border-color: $color-belkin;
                }
            }
        }
        span {
            float: left;
            vertical-align: middle;
            transform: translate3d(0, 0, 0);
            &.icon {
                position: relative;
                width: 18px;
                height: 18px;
                border-radius: 4px;
                transform: scale(1);
                border: 1px solid $color-belkin;
                transition: all 0.2s ease;
                box-shadow: 0 1px 1px rgba(0, 75, 0, 0.05);
                & + .text {
                    padding-left: 8px;
                }
                svg {
                    position: absolute;
                    top: 3px;
                    left: 2px;
                    fill: none;
                    stroke: #fff;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-dasharray: 16px;
                    stroke-dashoffset: 16px;
                    transition: all 0.3s ease;
                    transition-delay: 0.1s;
                    transform: translate3d(0, 0, 0);
                }
            }
            &.text {
                line-height: 18px;
                & + .icon {
                    margin-left: 8px;
                }
                @include mobile-max {
                    max-width: calc(100% - 20px);
                }
            }
        }
    }
    .inp-cbx {
        position: absolute;
        visibility: hidden;
        &:checked {
            + .cbx span.icon {
                background: $color-belkin;
                border-color: $color-belkin;
                animation: wave-4 0.4s ease;
                svg {
                    stroke-dashoffset: 0;
                }
            }
        }
    }
    .inline-svg {
        position: absolute;
        width: 0;
        height: 0;
        pointer-events: none;
        user-select: none;
    }
}
@mixin input-checkbox-sm {
    display: inline-block;
    & + .ui-checkbox-sm {
        margin-left: 16px;
    }
    input[type="checkbox"] {
        display: none;
        visibility: hidden;
        &:checked + .check svg {
            stroke: $color-belkin;
            path {
                stroke-dashoffset: 60;
                transition: all 0.3s linear;
            }
            polyline {
                stroke-dashoffset: 42;
                transition: all 0.2s linear;
                transition-delay: 0.15s;
            }
        }
    }
    label {
        display: inline-block;
    }
    .check {
        cursor: pointer;
        position: relative;
        margin: auto;
        height: 18px;
        -webkit-tap-highlight-color: transparent;
        transform: translate3d(0, 0, 0);
        display: flex;
        align-items: center;
        .label-text {
            margin: 0 0 0 8px;
        }
        &::before {
            content: "";
            position: absolute;
            top: -15px;
            left: -15px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background: rgba(34,50,84,0.03);
            opacity: 0;
            transition: opacity 0.2s ease;
        }
        svg {
            position: relative;
            z-index: 1;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: #c8ccd4;
            stroke-width: 1.5;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s ease;
            path {
                stroke-dasharray: 60;
                stroke-dashoffset: 0;
            }
            polyline {
                stroke-dasharray: 22;
                stroke-dashoffset: 66;
            }
        }
        &:hover {
            &::before {
                opacity: 1;
            }
            svg {
                stroke: $color-belkin;
            }
        }
    }
}
@-moz-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}
@-webkit-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}
@-o-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}
@keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@mixin select-box {
    select {
        -o-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        height: 60px;
        background: url("../images/icon_select.png") no-repeat right 12px center;
        background-size: 14px;
        padding: 0 12px;
        border-radius: 12px;
        outline: 0 none;
        border: 1px solid #EBEBEB;
        font-size: 16px;
        &:focus {
            border-color: $color-belkin;
        }
        @include tablet-min {
            font-size: 15px;
        }
        @include mobile-max {
            font-size: 13px;
            height: 48px;
        }
        ::-ms-expand {
            display: none;
        }
    }
}
