/* color */
$color-belkin: #76D850;

/* media-query */
$mobile-min: 360px;
$mobile-max: 520px;
$tablet-min: 800px;
$tablet-max: 1024px;
$desktop-min: 1280px;
$desktop-mid: 1440px;
$desktop-max: 1920px;