@import '_mixin.scss';

.color-belkin {
    color: $color-belkin;
}
.main-title {
    @include main-title();
}
.title-subtext {
    @include title-subtext();
}
.title-toptext {
    @include title-category();
}
.title-page-top {
    @include title-page();
}
.title-contents {
    @include title-contents();
}
.title-with-line {
    @include title-with-line()
}
.title-layer {
    @include title-layer();
}
.text-contents {
    @include text-contents();
}
.text-paragraph {
    @include text-paragraph();
}
.list-bullet {
    @include list-bullet();
}
.number-bullet {
    @include number-bullet();
}
.check-bullet {
    @include check-bullet();
}
.a11y-text {
    @include a11y-text(); 
}
.button-belkin {
    @include button-round();
    @include button-belkin();
}
.button-black {
    @include button-round();
    @include button-black();
}
.button-white {
    @include button-round();
    @include button-white();
}
.button-belkin-outline {
    @include button-round();
    @include button-belkin-outline();
}
.button-black-outline {
    @include button-round();
    @include button-black-outline();
}
.button-white-outline {
    @include button-round();
    @include button-white-outline();
}
.ui-checkbox {
    @include input-checkbox();
}
.ui-checkbox-sm {
    @include input-checkbox-sm();
}
.search-input {
    .search-label {
        @include search-label();
    }
}
.input[type=text], .input[type=password], .input[type=number] {
    @include input();
}
.ui-select {
    @include select-box();
}
.emphasis-belkin {
    color: $color-belkin;
}
.emphasis-warning {
    color: #F94848;
}
.pagination {
    text-align: center;
    font-size: 0;
    margin-top: 60px;
    button {
        width: 48px;
        height: 48px;
        vertical-align: top;
        font-size: inherit;
        font-size: 20px;
        margin: 0 6px;
        background: #FFFFFF;
        border: 1px solid #F4F4F4;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 24px;
        @include tablet-max {
            font-size: 16px;
        }
        @include tablet-min {
            width: 38px;
            height: 38px;
            background-size: 18px;
        }
        @include mobile-max {
            margin: 0 2px;
            width: 30px;
            height: 30px;
            font-size: 14px;
            background-size: 15px;
            padding: 0;
        }
        &.is-active {
            background: #000;
            color: #fff;
        }
        &.pagination-first {
            background-image: url('../images/icon_pagination_first.png');
        }
        &.pagination-prev {
            background-image: url('../images/icon_pagination_next.png');
        }
        &.pagination-next {
            background-image: url('../images/icon_pagination_next.png');
        }
        &.pagination-last {
            background-image: url('../images/icon_pagination_last.png');
        }
    }
}
.process-waiting {
    opacity: 0.6;
}
.process-complete {
    @include mobile-max {
        color: $color-belkin;
        opacity: 1;
    }
}