@import '_mixin.scss';
#footer {
    background-color: #000;
    padding: 70px 0;
    margin-top: 120px;
    @include tablet-min {
        padding: 40px 0;
    }
    .inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include tablet-min {
            display: block;
        }
    }
    h6 {
        width: 160px;
        height: 54px;
        background: url(../images/logo_footer_160x54.png) no-repeat center center;
        background-size: 100%;
        @include tablet-min {
            width: 140px;
            height: 34px;
            margin: 0 auto;
        }
    }
    .copyright-area {
        @include tablet-min {
            width: 100%;
            text-align: center;
        }
    }
    .text-copyright {
        color: #999;
        margin-top: 16px;
        @include tablet-min {
            font-size: 14px;
        }
    }
    .sns-lists {
        margin-top: 52px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include tablet-min {
            justify-content: center;
            margin-top: 24px;
        }
        .sns-item {
            @include tablet-min {
                width: 24px;
            }
        }
        .sns-item + .sns-item {
            margin-left: 40px;
            @include tablet-min {
                margin-left: 4%;
            }
        }
    }
    .cs-center-area {
        color: #fff;
        text-align: right;
        @include tablet-min {
            width: 100%;
            text-align: center;
            margin-top: 60px;
        }
        dt {
            opacity: 0.7;
            font-weight: bold;
            margin-bottom: 8px;
        }
        dd {
            font-size: 48px;
            font-weight: 700;
            @include tablet-min {
                font-size: 32px;
            }
        }
        .button-group {
            margin-top: 50px;
        }
    }
}