@import '_mixin.scss';

.inner {
    width: 1200px;
    margin: 0 auto;
}
@include desktop-min {
    .inner {
        width: 100%;
        padding: 0 4%;
    }
}
.menu-floating {
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-align: right;
    width: 80px;
    @include tablet-max {
        right: 4%;
        bottom: 2%;
    }
    .button-chatbot {
        width: 80px;
        height: 80px;
        background: url(../images/icon_chatbot.png) no-repeat center center;
        background-size: 100%;
        border-radius: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        @include mobile-max {
            width: 60px;
            height: 60px;
        }
    }
}