@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap");
* {
  font-family: "Noto Sans KR", "Sans-serif";
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  outline: 0;
  border: 0;
  background: none;
}

img {
  max-width: 100%;
}