@font-face {
  font-family: "YoonGothic";
  src: url("../fonts/yoon Gothic 320.eot?#iefix") format("embedded-opentype"), url("../fonts/yoon Gothic 320.woff") format("woff"), url("../fonts/yoon Gothic 320.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "YoonGothic";
  src: url("../fonts/yoon Gothic 350.eot?#iefix") format("embedded-opentype"), url("../fonts/yoon Gothic 350.woff") format("woff"), url("../fonts/yoon Gothic 350.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Metric";
  src: url("../fonts/Metric-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Metric-Regular.woff") format("woff"), url("../fonts/Metric-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Metric";
  src: url("../fonts/Metric-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Metric-Bold.woff") format("woff"), url("../fonts/Metric-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
/* color */
/* media-query */
/* title */
/* button */
/* form elements */
@-webkit-keyframes wave-4 {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@keyframes wave-4 {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
* {
  font-family: "YoonGothic";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: -0.7px;
}
@media only screen and (max-width: 800px) {
  * {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  * {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  outline: 0;
  border: 0;
  background: none;
}

img {
  max-width: 100%;
}