@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap"); /* color */
/* media-query */
/* title */
/* button */
/* form elements */
@-webkit-keyframes wave-4 {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@keyframes wave-4 {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
* {
  font-family: "Noto Sans KR", "Sans-serif";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
  * {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  * {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  outline: 0;
  border: 0;
  background: none;
}

img {
  max-width: 100%;
}