/* color */
/* media-query */
/* title */
/* button */
/* color */
/* media-query */
/* title */
/* button */
.color-belkin {
  color: #76D850;
}

.main-title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: bold;
}
@media only screen and (max-width: 1280px) {
  .main-title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 800px) {
  .main-title {
    font-size: 32px;
  }
}
@media only screen and (max-width: 520px) {
  .main-title {
    font-size: 24px;
  }
}

.title-subtext {
  font-size: 24px;
  font-weight: normal;
}
@media only screen and (max-width: 1280px) {
  .title-subtext {
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .title-subtext {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .title-subtext {
    font-size: 15px;
  }
}

.title-toptext {
  font-size: 18px;
  font-weight: bold;
  color: #76D850;
}
@media only screen and (max-width: 520px) {
  .title-toptext {
    font-size: 14px;
  }
}

.a11y-text {
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  font-size: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.button-belkin {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  font-size: 18px;
  min-width: 225px;
  height: 62px;
  padding: 0 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  background: #76D850;
  border: 2px solid #76D850;
  color: #fff;
}
.button-belkin:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 800px) {
  .button-belkin {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .button-belkin {
    min-width: auto;
    padding: 0 30px;
    height: 50px;
    font-size: 14px;
  }
}

.button-black {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  font-size: 18px;
  min-width: 225px;
  height: 62px;
  padding: 0 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  background: #000;
  border: 2px solid #000;
  color: #fff;
}
.button-black:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 800px) {
  .button-black {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .button-black {
    min-width: auto;
    padding: 0 30px;
    height: 50px;
    font-size: 14px;
  }
}

.button-belkin-outline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  font-size: 18px;
  min-width: 225px;
  height: 62px;
  padding: 0 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  border: 2px solid #76D850;
  color: #76D850;
}
.button-belkin-outline:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 800px) {
  .button-belkin-outline {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .button-belkin-outline {
    min-width: auto;
    padding: 0 30px;
    height: 50px;
    font-size: 14px;
  }
}
.button-belkin-outline:hover {
  background: #fff;
}

.button-black-outline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  font-size: 18px;
  min-width: 225px;
  height: 62px;
  padding: 0 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  border: 2px solid #000;
  color: #000;
}
.button-black-outline:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 800px) {
  .button-black-outline {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .button-black-outline {
    min-width: auto;
    padding: 0 30px;
    height: 50px;
    font-size: 14px;
  }
}
.button-black-outline:hover {
  background: #fff;
}

.button-white-outline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  font-size: 18px;
  min-width: 225px;
  height: 62px;
  padding: 0 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  border: 2px solid #fff;
  color: #fff;
  opacity: 0.8;
}
.button-white-outline:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 800px) {
  .button-white-outline {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .button-white-outline {
    min-width: auto;
    padding: 0 30px;
    height: 50px;
    font-size: 14px;
  }
}