/* color */
/* media-query */
/* title */
/* button */
/* form elements */
@-webkit-keyframes wave-4 {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@keyframes wave-4 {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
.color-belkin {
  color: #76D850;
}

.main-title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: bold;
}
@media only screen and (max-width: 1280px) {
  .main-title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 800px) {
  .main-title {
    font-size: 32px;
  }
}
@media only screen and (max-width: 520px) {
  .main-title {
    font-size: 24px;
    word-break: keep-all;
  }
}

.title-subtext {
  font-size: 24px;
  font-weight: normal;
}
@media only screen and (max-width: 1280px) {
  .title-subtext {
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .title-subtext {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .title-subtext {
    font-size: 15px;
    word-break: keep-all;
  }
}

.title-toptext {
  font-size: 18px;
  font-weight: bold;
  color: #76D850;
}
@media only screen and (max-width: 520px) {
  .title-toptext {
    font-size: 14px;
  }
}

.title-page-top {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 1280px) {
  .title-page-top {
    font-size: 28px;
  }
}
@media only screen and (max-width: 800px) {
  .title-page-top {
    font-size: 24px;
  }
}
@media only screen and (max-width: 520px) {
  .title-page-top {
    font-size: 20px;
    word-break: keep-all;
  }
}

.title-contents {
  font-size: 24px;
  margin-bottom: 24px;
  color: #76D850;
}
@media only screen and (max-width: 1280px) {
  .title-contents {
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .title-contents {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.title-with-line {
  position: relative;
  margin-bottom: 20px;
}
.title-with-line .txt {
  display: inline-block;
  background: #fff;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  padding-right: 40px;
}
@media only screen and (max-width: 1024px) {
  .title-with-line .txt {
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .title-with-line .txt {
    font-size: 16px;
    padding-right: 20px;
  }
}
.title-with-line::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #76D850;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
}

.title-layer {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.title-layer button {
  width: 32px;
  padding: 0;
}
.title-layer button img {
  max-width: 100%;
}
@media only screen and (max-width: 1280px) {
  .title-layer {
    font-size: 26px;
  }
}
@media only screen and (max-width: 800px) {
  .title-layer {
    font-size: 20px;
  }
}
@media only screen and (max-width: 520px) {
  .title-layer {
    font-size: 18px;
  }
}

.text-contents {
  font-size: 20px;
  line-height: 1.6;
}
@media only screen and (max-width: 1024px) {
  .text-contents {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .text-contents {
    font-size: 14px;
  }
}

.text-paragraph {
  display: block;
  font-size: inherit;
}
.text-paragraph + .text-paragraph {
  margin-top: 24px;
}

.list-bullet li {
  font-size: 20px;
  line-height: 1.6;
  position: relative;
  padding-left: 22px;
  line-height: 1.8;
}
@media only screen and (max-width: 1024px) {
  .list-bullet li {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .list-bullet li {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1024px) {
  .list-bullet li {
    padding-left: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .list-bullet li {
    padding-left: 10px;
  }
  .list-bullet li br {
    display: none;
  }
}
.list-bullet li + li {
  margin-top: 8px;
}
.list-bullet li::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #76D850;
  position: absolute;
  left: 0;
  top: 16px;
}
@media only screen and (max-width: 1024px) {
  .list-bullet li::before {
    top: 13px;
    width: 4px;
    height: 4px;
  }
}
@media only screen and (max-width: 520px) {
  .list-bullet li::before {
    top: 10px;
  }
}

.number-bullet li {
  font-size: 20px;
  line-height: 1.6;
  position: relative;
  padding-left: 22px;
  line-height: 1.8;
}
@media only screen and (max-width: 1024px) {
  .number-bullet li {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .number-bullet li {
    font-size: 14px;
  }
}
.number-bullet li + li {
  margin-top: 4px;
}
.number-bullet li::before {
  display: none;
}
.number-bullet li .number {
  position: absolute;
  left: 0;
}

.check-bullet li {
  font-size: 20px;
  line-height: 1.6;
  position: relative;
  padding-left: 32px;
  line-height: 1.8;
}
@media only screen and (max-width: 1024px) {
  .check-bullet li {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .check-bullet li {
    font-size: 14px;
  }
}
.check-bullet li + li {
  margin-top: 4px;
}
.check-bullet li::before {
  width: 24px;
  height: 24px;
  background: url(../images/icon_checkbox_sm.png) no-repeat center center;
  background-size: 100%;
  top: 7px;
}

.a11y-text {
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  font-size: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.button-belkin {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  font-size: 18px;
  min-width: 225px;
  height: 62px;
  padding: 0 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  background: #76D850;
  border: 2px solid #76D850;
  color: #fff;
}
.button-belkin:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 800px) {
  .button-belkin {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .button-belkin {
    min-width: auto;
    padding: 0 30px;
    height: 50px;
    font-size: 14px;
  }
}

.button-black {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  font-size: 18px;
  min-width: 225px;
  height: 62px;
  padding: 0 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  background: #000;
  border: 2px solid #000;
  color: #fff;
}
.button-black:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 800px) {
  .button-black {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .button-black {
    min-width: auto;
    padding: 0 30px;
    height: 50px;
    font-size: 14px;
  }
}

.button-white {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  font-size: 18px;
  min-width: 225px;
  height: 62px;
  padding: 0 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  background: #fff;
  color: #76D850;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.button-white:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 800px) {
  .button-white {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .button-white {
    min-width: auto;
    padding: 0 30px;
    height: 50px;
    font-size: 14px;
  }
}
.button-white:hover {
  background: #76D850;
  color: #fff;
  opacity: 1;
}

.button-belkin-outline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  font-size: 18px;
  min-width: 225px;
  height: 62px;
  padding: 0 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  border: 2px solid #76D850;
  color: #76D850;
}
.button-belkin-outline:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 800px) {
  .button-belkin-outline {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .button-belkin-outline {
    min-width: auto;
    padding: 0 30px;
    height: 50px;
    font-size: 14px;
  }
}
.button-belkin-outline:hover {
  background: #fff;
}

.button-black-outline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  font-size: 18px;
  min-width: 225px;
  height: 62px;
  padding: 0 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  border: 2px solid #000;
  color: #000;
}
.button-black-outline:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 800px) {
  .button-black-outline {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .button-black-outline {
    min-width: auto;
    padding: 0 30px;
    height: 50px;
    font-size: 14px;
  }
}
.button-black-outline:hover {
  background: #fff;
}

.button-white-outline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  font-size: 18px;
  min-width: 225px;
  height: 62px;
  padding: 0 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  border: 2px solid #fff;
  color: #fff;
  opacity: 0.8;
}
.button-white-outline:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 800px) {
  .button-white-outline {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .button-white-outline {
    min-width: auto;
    padding: 0 30px;
    height: 50px;
    font-size: 14px;
  }
}

.ui-checkbox * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.ui-checkbox .cbx {
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  cursor: pointer;
  padding: 6px 8px 6px 0;
  border-radius: 6px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
}
@media only screen and (max-width: 520px) {
  .ui-checkbox .cbx {
    width: 100%;
    display: inline-block;
  }
}
.ui-checkbox .cbx:not(:last-child) {
  margin-right: 6px;
}
.ui-checkbox .cbx:hover {
  background: rgba(0, 255, 42, 0.06);
}
.ui-checkbox .cbx:hover span:first-child {
  border-color: #76D850;
}
.ui-checkbox .cbx span {
  float: left;
  vertical-align: middle;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.ui-checkbox .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
  border: 1px solid #76D850;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0 1px 1px rgba(0, 75, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 75, 0, 0.05);
}
.ui-checkbox .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.ui-checkbox .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}
@media only screen and (max-width: 520px) {
  .ui-checkbox .cbx span:last-child {
    max-width: calc(100% - 20px);
  }
}
.ui-checkbox .inp-cbx {
  position: absolute;
  visibility: hidden;
}
.ui-checkbox .inp-cbx:checked + .cbx span:first-child {
  background: #76D850;
  border-color: #76D850;
  -webkit-animation: wave-4 0.4s ease;
          animation: wave-4 0.4s ease;
}
.ui-checkbox .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.ui-checkbox .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ui-checkbox-sm {
  display: inline-block;
}
.ui-checkbox-sm + .ui-checkbox-sm {
  margin-left: 16px;
}
.ui-checkbox-sm input[type=checkbox] {
  display: none;
  visibility: hidden;
}
.ui-checkbox-sm input[type=checkbox]:checked + .check svg {
  stroke: #76D850;
}
.ui-checkbox-sm input[type=checkbox]:checked + .check svg path {
  stroke-dashoffset: 60;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.ui-checkbox-sm input[type=checkbox]:checked + .check svg polyline {
  stroke-dashoffset: 42;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.ui-checkbox-sm label {
  display: inline-block;
}
.ui-checkbox-sm .check {
  cursor: pointer;
  position: relative;
  margin: auto;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ui-checkbox-sm .check .label-text {
  margin: 0 0 0 8px;
}
.ui-checkbox-sm .check::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.ui-checkbox-sm .check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.ui-checkbox-sm .check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.ui-checkbox-sm .check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.ui-checkbox-sm .check:hover::before {
  opacity: 1;
}
.ui-checkbox-sm .check:hover svg {
  stroke: #76D850;
}

.search-input .search-label {
  font-size: 16px;
  display: block;
}
@media only screen and (max-width: 800px) {
  .search-input .search-label {
    font-size: 15px;
  }
}
@media only screen and (max-width: 520px) {
  .search-input .search-label {
    font-size: 14px;
  }
}

.input[type=text], .input[type=password], .input[type=number] {
  border: 1px solid #EBEBEB;
  border-radius: 12px;
  background: #fff;
  height: 60px;
  padding: 8px;
  font-size: 16px;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .input[type=text], .input[type=password], .input[type=number] {
    font-size: 15px;
  }
}
@media only screen and (max-width: 520px) {
  .input[type=text], .input[type=password], .input[type=number] {
    font-size: 13px;
    height: 48px;
  }
}
.input[type=text]::-moz-placeholder, .input[type=password]::-moz-placeholder, .input[type=number]::-moz-placeholder {
  color: #cacaca;
}
.input[type=text]::-moz-placeholder, .input[type=text]::-ms-input-placeholder, .input[type=text]::-webkit-input-placeholder, .input[type=text]::placeholder, .input[type=password]::-moz-placeholder, .input[type=password]::-ms-input-placeholder, .input[type=password]::-webkit-input-placeholder, .input[type=password]::placeholder, .input[type=number]::-moz-placeholder, .input[type=number]::-ms-input-placeholder, .input[type=number]::-webkit-input-placeholder, .input[type=number]::placeholder {
  color: #cacaca;
}
@media only screen and (max-width: 800px) {
  .input[type=text]::-moz-placeholder, .input[type=password]::-moz-placeholder, .input[type=number]::-moz-placeholder {
    font-size: 15px;
  }
  .input[type=text]::-moz-placeholder, .input[type=text]::-ms-input-placeholder, .input[type=text]::-webkit-input-placeholder, .input[type=text]::placeholder, .input[type=password]::-moz-placeholder, .input[type=password]::-ms-input-placeholder, .input[type=password]::-webkit-input-placeholder, .input[type=password]::placeholder, .input[type=number]::-moz-placeholder, .input[type=number]::-ms-input-placeholder, .input[type=number]::-webkit-input-placeholder, .input[type=number]::placeholder {
    font-size: 15px;
  }
}
@media only screen and (max-width: 520px) {
  .input[type=text]::-moz-placeholder, .input[type=password]::-moz-placeholder, .input[type=number]::-moz-placeholder {
    font-size: 13px;
  }
  .input[type=text]::-moz-placeholder, .input[type=text]::-ms-input-placeholder, .input[type=text]::-webkit-input-placeholder, .input[type=text]::placeholder, .input[type=password]::-moz-placeholder, .input[type=password]::-ms-input-placeholder, .input[type=password]::-webkit-input-placeholder, .input[type=password]::placeholder, .input[type=number]::-moz-placeholder, .input[type=number]::-ms-input-placeholder, .input[type=number]::-webkit-input-placeholder, .input[type=number]::placeholder {
    font-size: 13px;
  }
}
.input[type=text]:focus, .input[type=password]:focus, .input[type=number]:focus {
  outline: 0;
  border-color: #76D850;
}

.ui-select select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 60px;
  background: url("../images/icon_select.png") no-repeat right 12px center;
  background-size: 14px;
  padding: 0 12px;
  border-radius: 12px;
  outline: 0 none;
  border: 1px solid #EBEBEB;
  font-size: 16px;
}
.ui-select select:focus {
  border-color: #76D850;
}
@media only screen and (max-width: 800px) {
  .ui-select select {
    font-size: 15px;
  }
}
@media only screen and (max-width: 520px) {
  .ui-select select {
    font-size: 13px;
    height: 48px;
  }
}
.ui-select select ::-ms-expand {
  display: none;
}

.emphasis-belkin {
  color: #76D850;
}

.emphasis-warning {
  color: #F94848;
}

.pagination {
  text-align: center;
  font-size: 0;
  margin-top: 60px;
}
.pagination button {
  width: 48px;
  height: 48px;
  vertical-align: top;
  font-size: inherit;
  font-size: 20px;
  margin: 0 6px;
  background: #FFFFFF;
  border: 1px solid #F4F4F4;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
}
@media only screen and (max-width: 1024px) {
  .pagination button {
    font-size: 16px;
  }
}
@media only screen and (max-width: 800px) {
  .pagination button {
    width: 38px;
    height: 38px;
    background-size: 18px;
  }
}
@media only screen and (max-width: 520px) {
  .pagination button {
    margin: 0 2px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    background-size: 15px;
    padding: 0;
  }
}
.pagination button.is-active {
  background: #000;
  color: #fff;
}
.pagination button.pagination-first {
  background-image: url("../images/icon_pagination_first.png");
}
.pagination button.pagination-prev {
  background-image: url("../images/icon_pagination_next.png");
}
.pagination button.pagination-next {
  background-image: url("../images/icon_pagination_next.png");
}
.pagination button.pagination-last {
  background-image: url("../images/icon_pagination_last.png");
}

.process-waiting {
  opacity: 0.6;
}

@media only screen and (max-width: 520px) {
  .process-complete {
    color: #76D850;
    opacity: 1;
  }
}