/* color */
/* media-query */
/* title */
/* button */
/* form elements */
@-webkit-keyframes wave-4 {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@keyframes wave-4 {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
#footer {
  background-color: #000;
  padding: 70px 0;
  margin-top: 120px;
}
@media only screen and (max-width: 800px) {
  #footer {
    padding: 40px 0;
  }
}
#footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 800px) {
  #footer .inner {
    display: block;
  }
}
#footer h6 {
  width: 120px;
  height: 31px;
  background: url(../images/logo_footer_120x31.png) no-repeat center center;
  background-size: 100%;
}
@media only screen and (max-width: 800px) {
  #footer h6 {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 800px) {
  #footer .copyright-area {
    width: 100%;
    text-align: center;
  }
}
#footer .text-copyright {
  color: #999;
  margin-top: 16px;
}
@media only screen and (max-width: 800px) {
  #footer .text-copyright {
    font-size: 14px;
  }
}
#footer .sns-lists {
  margin-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media only screen and (max-width: 800px) {
  #footer .sns-lists {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 24px;
  }
}
@media only screen and (max-width: 800px) {
  #footer .sns-lists .sns-item {
    width: 24px;
  }
}
#footer .sns-lists .sns-item + .sns-item {
  margin-left: 40px;
}
@media only screen and (max-width: 800px) {
  #footer .sns-lists .sns-item + .sns-item {
    margin-left: 4%;
  }
}
#footer .cs-center-area {
  color: #fff;
  text-align: right;
}
@media only screen and (max-width: 800px) {
  #footer .cs-center-area {
    width: 100%;
    text-align: center;
    margin-top: 60px;
  }
}
#footer .cs-center-area dt {
  opacity: 0.7;
  font-weight: bold;
  margin-bottom: 8px;
}
#footer .cs-center-area dd {
  font-size: 48px;
  font-weight: 700;
}
@media only screen and (max-width: 800px) {
  #footer .cs-center-area dd {
    font-size: 32px;
  }
}
#footer .cs-center-area .button-group {
  margin-top: 50px;
}