/* color */
/* media-query */
/* title */
/* button */
/* form elements */
@-webkit-keyframes wave-4 {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@keyframes wave-4 {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
.inner {
  width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 1280px) {
  .inner {
    width: 100%;
    padding: 0 4%;
  }
}
.menu-floating {
  position: fixed;
  right: 30px;
  bottom: 30px;
  text-align: right;
  width: 80px;
}
@media only screen and (max-width: 1024px) {
  .menu-floating {
    right: 4%;
    bottom: 2%;
  }
}
@media only screen and (max-width: 520px) {
  .menu-floating {
    width: 60px;
  }
}
.menu-floating button {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: block;
}
.menu-floating button + button {
  margin-top: 6px;
}
@media only screen and (max-width: 520px) {
  .menu-floating button {
    width: 60px;
    height: 60px;
  }
}
.menu-floating button.button-as {
  background: #fff url(../images/icon_as.png) no-repeat center center;
  background-size: 100%;
  display: none;
}
@media only screen and (max-width: 520px) {
  .menu-floating button.button-as {
    display: block;
  }
}
.menu-floating button.button-order {
  background: #fff url(../images/icon_order.png) no-repeat center center;
  background-size: 100%;
  display: none;
}
@media only screen and (max-width: 520px) {
  .menu-floating button.button-order {
    display: block;
  }
}
.menu-floating button.button-chatbot {
  background: url(../images/icon_chatbot.png) no-repeat center center;
  background-size: 100%;
}